.Desktopnav,
.Footer {
  display: flex;
  height: 100px;
  margin: 0 100px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  text-transform: uppercase;
  /* 
  if fixed on top
  
  width: calc(100vw - 600px);
  position: fixed;
  left: 300px; */
}

.Desktopnav :first-child,
.Mobilenav :first-child,
.Footer :first-child {
  margin-right: auto;
}

.Footer :last-child {
  margin-left: auto;
}

.Footer {
  padding: 2rem;
  margin: 5rem 0;
  border-top: 1px solid var(--n-500);
  flex-wrap: wrap;
}

.Mobilenav {
  display: flex;
  height: 70px;
  margin: 0 24px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  text-transform: uppercase;
}

.navitem:hover {
  color: var(--merlot-blue);
}

.activeIndicator {
  text-decoration: underline;
}

.menuicon,
.closeicon {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.Mobilenav .closeicon {
  margin-left: auto;
  margin-right: 0;
}

.menuicon:hover {
  border: none;
}

.menucontainer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 75%;
  background-color: var(--n-100);
  transform: translateX(100%);
  transition: transform 0.8s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.2rem 1.5rem 1rem 3rem;
}

.menuoverlay {
  position: fixed;
  inset: 0;
  background: rgba(0 0 0 / 15%);
  display: none;
  z-index: 900;
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
}

.burgermenu {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.burgermenu.open .menucontainer {
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
}

.burgermenu.open .menuoverlay {
  display: block;
  opacity: 1;
}

@media only screen and (min-width: 1024px) {
  .Desktopnav,
  .Footer {
    margin: 0 150px;
  }
  .Footer {
    margin-top: 5rem;
    flex-wrap: nowrap;
    padding: 2rem 0;
  }
}

@media only screen and (min-width: 1440px) {
  .Desktopnav,
  .Footer {
    margin: 0 200px;
  }
  .Footer {
    margin-top: 10rem;
  }
}
