.Desktopnav,
.Footer {
  display: flex;
  height: 100px;
  margin: 0 100px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  text-transform: uppercase;
  /* 
  if fixed on top
  
  width: calc(100vw - 600px);
  position: fixed;
  left: 300px; */
}

.Desktopnav :first-child,
.Mobilenav :first-child,
.Footer :first-child {
  margin-right: auto;
}

.Footer :last-child {
  margin-left: auto;
}

.Footer {
  padding: 2rem;
  margin: 5rem 0;
  border-top: 1px solid var(--n-500);
  flex-wrap: wrap;
}

.Mobilenav {
  display: flex;
  height: 70px;
  margin: 0 24px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  text-transform: uppercase;
}

.navitem:hover {
  color: var(--merlot-blue);
}

.activeIndicator {
  text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
  .Desktopnav,
  .Footer {
    margin: 0 150px;
  }
  .Footer {
    margin-top: 5rem;
    flex-wrap: nowrap;
    padding: 2rem 0;
  }
}

@media only screen and (min-width: 1440px) {
  .Desktopnav,
  .Footer {
    margin: 0 200px;
  }
  .Footer {
    margin-top: 10rem;
  }
}
